@import "src/utilities/_variables";

.star {
  margin: 0 $space_extra_thin;

  input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:checked + label {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-color: $star_checked;
  }

  input:hover + label {
    background-color: $star_unchecked;
  }

  input:hover + label {
    background-color: $star_hover;
  }

  label {
    cursor: pointer;
    background-image: url('/assets/images/star-default.png');
    background-size: contain;
    background-color: $star_unchecked;
    background-repeat: no-repeat;
    display: inline-block;
    width: $star_size;
    height: $star_size;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
}
