@import "src/utilities/_variables";

.star {
  input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:checked + .star-default {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-color: $star_checked;
  }

  input:hover + .star-default {
    background-color: $star_unchecked;
  }

  input:hover + .star-default {
    background-color: $star_hover;
  }

  .star-default {
    cursor: pointer;
    background-image: url('/assets/images/star-default.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    background-color: $star_unchecked;
  }
}
