@import "src/utilities/_variables";

.article-navigation {
  background: $article_background;
  padding: $space_extra_thin $space_extra_medium;

  a {
    font-size: 20px;
  }

  .previous-next-article {
    display: flex;
    justify-content: space-between;
  }
}
