@import "src/utilities/_variables";

.article-excerpt {
  color: #000;
  //background: $article_background;
  padding: 5px 20px;
  margin: 20px 0;

  a {
    color: #46DFBA;

  }

  .article-title {
    margin-top: 0;
  }

  .article-date {
    color: #909090;
    padding: 5px 0;
    font-size: 20px;
  }

  .article-author {
    color: #668B42;
  }
}
