$space_extra_thin: 5px;
$space_thin: 10px;
$space_medium: 15px;
$space_extra_medium: 20px;
$space_fat: 30px;
$space_extra_fat: 40px;

$font_huge: 2.4em;
$font_extra_large: 1.6em;
$font_large_inscription: 1.5em;
$font_large: 1.2em;
$font_medium: 1em;
$font_small: 0.8em;
$font_extra_small: 0.6em;
$font_light: 200;
$font_regular: 400;
$font_semibold: 600;
$font_bold: 700;

$line_height_narrow: 15px;

$font_family: 'Roboto';
$font_color: #4d4d4d;

$container_width: 1050px;
$container_width_percent: 80%;

$body_background: #d2d3c6;
$article_background: #f0efe9;

$search_container: #FA6DBF;
$yellow_banner: #F9EC64;
$color_menu_principal: #91E6D1; 
$dark_gray: #17141f;
$gray: #e9e9e9;
$light_gray: #828282;
$light_gray_border: #e1e1e1;
$dark_gray_border: #ced4da;
$white: #fff;
$black: #000;
$blue: #019fee;
$blue_hover: darken(#019fee, 5%);
$dark_blue: #003f6d;
$orange: #e8b676;
$pink: #ff009c;
$pink_hover: darken(#ff009c, 5%);
$purple: #610d56;
$turquoise: #17c7d2;
$secondary_grey: #807f80;
$red_error: #a94442;

$border_radius: 4px;

$mobile_screen: 576px;

$icon_medium: 15px;

$star_checked: $purple;
$star_unchecked: #fff;
$star_hover: $orange;
$star_size: 40px;

@mixin btn-unstyled() {
  background-color: transparent;
  border-style: none;
  border-color: transparent;
  border-image: none;
  cursor: pointer;
  transition: all 0.3s;
}

@mixin btn-rounded() {
  border: 1px solid;
  cursor: pointer;
  text-decoration: none;
  min-width: 100px;
  transition: all 0.3s;
  border-radius: $border_radius;
}

:export {
  mobile_size: $mobile_screen;
}
