@import "src/utilities/_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,700');

body {
  margin: 0;
  background: #d2d3c6;
  font-family: $font_family;
}

div.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
