@import "src/utilities/_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');

body {
  margin: 0;
  //background: $body_background;
  font-family: $font_family;
}

.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: column;
}
