@import "src/utilities/_variables";

.home-container {
  width: 80%;
  margin: 0 auto;
}

.home {
  background: #341530;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d2d3c6;
}
