@import "src/utilities/_variables";

header {
  background-size: cover;
  background-position: center;
  //box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.2);

  .logo-portal-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 40px auto 0 auto;
    max-width: $container_width_percent;
    //background: rgba(49, 24, 48, 0.7);
    margin-top: 250px;

    .logo-portal-image{
      background-color: burlywood;
      width: 50%;
    }

    .logo-portal-image img{
      width: 100%;
    }

    .logo-portal {
      color: #000;
      padding: 0 120px;
      padding-top: 120px;
      width: 50%;

      p {
        font-size: 24px;
        width: 500px;
      }

      h1 {
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: $mobile_screen) {
  header {
    width: 100%;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.4);
    height: 140px;
  }

  .logo-portal-info-container {
    align-items: inherit;
    flex-direction: column;
    padding-top: $space_fat;
  }
}
