@import "src/utilities/_variables";

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .spinner {
    animation: spin 1s infinite linear;

    svg {
      width: 50px;
      height: 50px;
      fill: $orange;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(359deg);
      }
    }
  }
}

.main .loading,
.app .loading {
  min-height: 100px;
}

.gift-button .loading {
  min-height: 70%;
}
