@import "src/utilities/_variables";

.navbar {
  display: flex;
  align-self: center;
  position: fixed;
  background: $yellow_banner;
  top: 0;
  //left: 50%;
  //margin-left: -40.5%;
  // right: 0;
  //width: 100%;
  border: none;
  width: 80%;

  .container {
    padding-right: 0;
    padding-left: 0;
    width: 100%;

    .navbar-collapse {
      padding-right: 0;
      padding-left: 0;
      background-color: $color_menu_principal;
      width: 100%;
    }

    .header {
      height: 200px;

      img {
        display: block;
        margin: 40px auto;
      }
    }
  }

  .navbar-nav {
    float: left;

    li.dropdown {
      padding: 0 0 0 8%;
    }

    span {
      color: #f2f2f2;
      padding: 15px 0;
      display: table-cell;
    }

    span.caret {
      display: none;
    }

    .dropdown a {
      color: white;
    }

    .dropdown a:hover {
      color: $orange;
    }

    .dropdown.open a {
      background-color: $dark_gray;
      color: white;
    }

    .dropdown-menu {
      background-color: $dark_gray;

      a:hover {
        color: $orange;
      }

      .divider {
        height: 1px;
        margin: 1px 0;
        overflow: hidden;
        background-color: $orange;
      }
    }
  }

  a {
    color: $white;
    padding: $space_thin $space_extra_medium;
    line-height: $space_extra_fat;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $font_bold;
  }

  a:hover {
    color: $orange;
  }
}
